<div class="container">
  <h1>Cocktails Galooooore</h1>
  <div class="cards d-flex flex-wrap justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <div class="card bg-dark text-white mb-4 mx-3" style="width: 20rem; height: 30rem;">
        <%= cl_image_tag cocktail.photo.key, height: 479, width: 320%>
        <div class="card-img-overlay">
          <%= link_to cocktail_path(cocktail) do %>
            <h5 class="card-title"><%= cocktail.name %></h5>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
