<nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to root_path do %>
    <i class="fas fa-cocktail"></i>
  <% end %>
  <h3 class="mt-1 title">Cocktail Kitt</h3>

  <%= link_to "Add New Cocktail", new_cocktail_path, class: "btn btn-outline-warning"%>
</nav>
