.footer {
  display: flex;
  bottom: 0px;
  width: 100%;
  align-items: center;
  height: 50px;
  padding: 0px 50px;
  background: #e7e5df;
  color: rgba(0, 0, 0, 0.3);
  margin-top: -0px;
  justify-content: center;
}


